.james{
    color: purple;
    background-color: bisque;
    border: 3px dashed navy;
    font-size: 3vw;
}

body{
    background-color: brown;
    color: white;
    font-size: calc(15% * 3vh);
}

/* background images styles */
.img{
    background-image: url('../img/bed.jpg');
    width: 100%;
    height: 90vh;
    border: 4px solid pink;
    background-repeat: no-repeat;
    background-size: 30%;
    background-position: center 50%;
}

.video video{
    width: 20%;
    height: 20%;
}

a{
    text-decoration: none;
    color: #ffffff;
}

/* more on css selector */

/* css for tablet */
@media(max-width: 800px) {
    body{
        background-color: darkolivegreen;
        color: brown;
        /* font-size: 3.5vw; */
    }
}


/* css for android */
@media(max-width: 400px) {
    body{
        background-color: black;
        color: purple;
        /* font-size: 5vw; */
    }
}